
<div class="row wrap-contain wrap-suscriptores">
	<h3 class="title-section">
		Aumentar Suscriptores
	</h3>

	<div class="wrap-contain-suscriptor">

		<div class="box-suscriptor col-sm-4">
			<div class="main-details text-center">
				<div class="details text-center">
					Fomulario: Plugin para poner fomularios.
				</div>
				<button class="btn btn-primary text-center center-block">
					Send to Messsenger
				</button>
			</div>
		</div>

		<div class="box-suscriptor col-sm-4">
			<div class="main-details text-center">
				<div class="details text-center">
					Fomulario: Plugin para poner fomularios.
				</div>
				<button class="btn btn-primary text-center center-block">
					Send to Messsenger
				</button>
			</div>
		</div>

		<div class="box-suscriptor col-sm-4">
			<div class="main-details text-center">
				<div class="details text-center">
					Fomulario: Plugin para poner fomularios.
				</div>
				<button class="btn btn-primary text-center center-block">
					Send to Messsenger
				</button>
			</div>
		</div>


	</div>
	
	<div class="container wrap-buttons-footer">
		<div class="row">
			<div class="col-sm-3">
				<button class="btn btn-primary">
					<span class="ico-message"></span>
					<span class="title-btn">¿Como aumentar mis suscriptores</span>
				</button>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-primary">
					<span class="ico-message"></span>
					<span class="title-btn">La mejor forma de atraer suscriptores</span>
				</button>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-primary">
					<span class="ico-message"></span>
					<span class="title-btn">¿Como aumentar mis suscriptores?</span>
				</button>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-primary">
					<span class="ico-message"></span>
					<span class="title-btn">La mejor forma de atraer suscriptores</span>
				</button>
			</div>
		</div>
	</div>


</div>