<div class="row wrap-section-page wrap-contain-suscription">
	<div class="col-md-12">
		<div class="col-md-12">
        	<h3 class="title title-section">Suscriptores</h3>
        </div>
		<div class="col-md-4 wrap-search">
			<input *ngIf="config.filtering" placeholder="Filtrar por nombre"
			[ngTableFiltering]="config.filtering"
			(tableChanged)="onChangeTable(config)"
			class="form-control" />
		</div>

		<div class="col-md-12 wrap-suscription">
			<ng-table [ngTableFiltering]="config.filtering" 
						[config]="config" 
						(tableChanged)="onChangeTable(config)"
						[columns]="columns"
						[rows]="rows"> 
				</ng-table>

			<pagination class="pagination-sm"
			[totalItems]="length"
			[itemsPerPage]="itemsPerPage"
			[directionLinks]="false"
			[maxSize]="maxSize"
			[rotate]="false"
			(pageChanged)="onChangeTable(config, $event)"
			(numPages)="numPages = $event"
			[(ngModel)]="page"></pagination>
		</div>


	</div>
</div>